@import "~commonStyles/common.scss";

.navbar-custom {
  @include background("dark-blue");
  @include font-type1;
}

.navbar-custom .container {
  display: flex;
  align-items: center;
}

.navbar-header {
  flex-grow: 1;
}

.navbar-custom .navbar-brand {
  @include color("white");
  @include font-type2;
  line-height: normal;
  height: auto;

  &:hover,
  &:active,
  &:focus {
    @include color("white");
  }
}

.navbar-custom .navbar-nav li a {
  @include color("white");
  margin-right: 1px;

  &:hover,
  &.active {
    @include color("white");
    @include background("green");
  }

  &:active,
  &:focus {
    @include color("white");
  }
}
