$colors: (
  "white": (
    base: #fff
  ),
  "black": (
    base: #000
  ),
  "green": (
    base: #02acab,
    pastel: #8bc34a
  ),
  "grey": (
    base: #d2d2d2,
    light: #f1f1f1
  ),
  "red": (
    base: #f44336
  ),
  "yellow": (
    base: #ffc107
  ),
  "blue": (
    base: #03a9f4,
    dark: #2c3e50
  )
);

@function get-color($colorName: "black", $colorVariant: "base") {
  @return map-get(map-get($colors, $colorName), $colorVariant);
}

@mixin color($colorName, $colorVariant: "base") {
  color: get-color($colorName, $colorVariant);
}

@mixin background($colorName, $colorVariant: "base") {
  background-color: get-color($colorName, $colorVariant);
}
